.main {
    background: url(https://raw.githubusercontent.com/Jhonierpc/WebDevelopment/master/Transparent%20Login%20Form%20UI/img/background.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;

    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 150%;
        width: 100%;
        background: rgba(0,0,0,0.4);
    }
}